[submodule "themes/hugo-superhyde-theme"]
	path = themes/hugo-superhyde-theme
	url = https://github.com/ageekymonk/hugo-superhyde-theme
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
